@{ 
    ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-sm-12">
      <div class=" jumbotron">
          <h1>Learn,Share,Build</h1>
          <h3>Each month, over 50 million developers come to Stack Overflow to learn,share their knowledge, and build their careers.</h3>
          <p class="lead">Join the world's largest developer Community.</p>
      </div>
  </div>
</div>
